{% extends "base.html" %}

{% block navbar-right %}
<ul class="nav navbar-nav navbar-right">
	<li><a href="{% url 'core_logout' %}"><i class="fa fa-power-off"></i> Log out</a>
</ul>
{% endblock %}

{% block breadcrumbs %}
	<div class="page-header page-header-closer hidden-xs">
		<h1>Cycling</h1>
	</div>
	<ol class="breadcrumb">
		<li><a href="{% url 'core_dashboard' %}">Dashboard</a></li>
		<li class="active">Cycling</li>
	</ol>
{% endblock %}

{% block content %}
<div class="row last-row">
	<div class="col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">Cycling</h4>
			</div>
			<div class="panel-body">
				<table class="table table-responsive table-responsive table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>Date</th>
							<th>Distance</th>
							<th>Time</th>
							<th class="hidden-xs">Garmin</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
					{% for activity in object_list %}
						<tr>
							<td>
								<a href="{{ activity.get_absolute_url }}">
									{{ forloop.counter }}
								</a>
							</td>
							<td>{{ activity.date|date }}</td>
							<td>{{ activity.distance }} km</td>
							<td>{{ activity.duration }}</td>
							<td class="hidden-xs">
							{% if activity.garmin_id %}
								<a href="{{ activity.garmin_url }}">
									{{ activity.garmin_id }}
								</a>
							{% else %}
								-
							{% endif %}
							</td>
							<td>
								<a href="{% url "kraftprotz_cycling_delete" pk=activity.id %}">
									<i class="fa fa-times"></i>
								</a>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			{% if is_paginated %}
				<ul class="list-inline pull-right">
					{% if page_obj.has_previous %}
						<li>
							<a href="{% url 'kraftprotz_cycling_list' %}?page={{ page_obj.previous_page_number }}">
								Prev
							</a>
						</li>
					{% else %}
						<li>Prev</li>
					{% endif %}
					{% if page_obj.has_next %}
						<li>
							<a href="{% url 'kraftprotz_cycling_list' %}?page={{ page_obj.next_page_number }}">
								Next
							</a>
						</li>
					{% else %}
						<li>Next</li>
					{% endif %}
				</ul>
			{% endif %}
			</div>
			<div class="panel-footer">
				<ul class="list-inline">
					<li>
						<a href="{% url 'kraftprotz_cycling_create' %}">
							<i class="fa fa-plus"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">Distance Chart</h4>
			</div>
			<div class="panel-body">
				<div id="cycling-distance-chart"></div>
			</div>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">Duration Chart</h4>
			</div>
			<div class="panel-body">
				<div id="cycling-duration-chart"></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
<script>
new Morris.Line({
  element: 'cycling-distance-chart',
  data: [
{% for activity in object_list %}
    { activity: '{{ activity.date|date:"Y-m-d" }}', distance: '{{ activity.distance }}' },
{% endfor %}
  ],
  xkey: 'activity',
  ykeys: ['distance'],
  labels: ['Distance'],
  hideHover: 'true',
  postUnits: ' km',
  smooth: 'false',
  resize: 'true',
});
</script>
<script>
new Morris.Line({
  element: 'cycling-duration-chart',
  data: [
{% for activity in object_list %}
    { activity: '{{ activity.date|date:"Y-m-d" }}', duration: '{{ activity.time_in_minutes|floatformat:"0" }}' },
{% endfor %}
  ],
  xkey: 'activity',
  ykeys: ['duration'],
  labels: ['Duration'],
  hideHover: 'true',
  postUnits: ' min',
  smooth: 'false',
  resize: 'true'
});
</script>
{% endblock %}
